
.ItemFilterField {

    &__Display {
        height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
    }

    &__Item {
        height: 160px;
        min-width: 140px;
        display: block;
        margin: 10px;

        &__Image {
            max-width: 100%;
            display: block;

            &--Selected {
                outline: 2px solid #008;
            }
        }

        &__Caption {
            height: 20px;
            font-size: 12px;
        }
    }

    &__Loading {
        display: block;
        margin: 0px auto;
        text-align: center;
        height: 20%;
        width: 50%;

    }
}
